h1 {
  text-align: center;
  font-family: Arial;
  font-size: medium;
}
.calc {
  display: grid;
  background-color: #ff4500;
  width: 450px;
  height: 550px;
  border: 50px;
  border-color: red;
  padding: 50px;
  margin: auto;
  border-radius: 30px;
}
.calc .button {
  background-color: #b8860b;
  cursor: pointer;
  margin: auto;
  width: 100px;
  height: 100px;
  font-size: xx-large;
}
.calc .button span {
  background-color: #b8860b;
  cursor: pointer;
  margin: auto;
  width: 100px;
  height: 100px;
  font-size: xx-large;
  position: center;
}
/*.otherbutton {
  background-color: #b8860b;
  cursor: grab;
  margin: auto;
  width: 200px;
  height: 100px;
  font-size: xx-large;
}*/
.button span:hover {
  background-color: #ffe4b5;
}
/*.otherbutton:hover {
  background-color: #ffe4b5;
}*/
.calc .display {
  position: center;
  background-color: rgb(255, 255, 255);
  margin: auto;
  width: 300px;
  height: 75px;
  font-size: xx-large;
  text-align: right;
}
.calc .button .row1 {
  position: center;
  margin: auto;
}
.row2 span {
  position: center;
  margin: auto;
}
.row3 {
  position: center;
}
.row4 {
  position: center;
  margin: auto;
}
.row5 {
  position: center;
  margin: auto;
}
