h1 {
  text-align: center;
  font-family: Arial;
  font-size: medium;
}
.calc .display {
  background-color: #fbff00;
  margin: auto;
  width: 400px;
  height: 38px;
  font-size: xx-large;
  text-align: right;
  font-family: arial;
  border-radius: 10px;
}
.calc {
  display: grid;
  border: 10px solid;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ff4500;
  width: 450px;
  height: 550px;
  border-color: red;
  border-radius: 20px;
}
.calc .button {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  cursor: pointer;
  font-size: xx-large;
  font-family: Arial;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  text-align: center;
}
.calc .button span {
  background-color: #b8860b;
  cursor: pointer;
  font-size: xx-large;
  border-radius: 20px;
}
.button span:hover {
  background-color: #ffe4b5;
}
