.calc {
  display: grid;
  background-color: #ff4500;
  width: 450px;
  height: 650px;
  border: 50px;
  border-color: red;
  padding: 50px;
  margin: auto;
  border-radius: 30px;
}
.button {
  background-color: #b8860b;
  cursor: pointer;
  margin: auto;
  width: 100px;
  height: 100px;
  font-size: xx-large;
}
/*.otherbutton {
  background-color: #b8860b;
  cursor: grab;
  margin: auto;
  width: 200px;
  height: 100px;
  font-size: xx-large;
}*/
.button:hover {
  background-color: #ffe4b5;
}
/*.otherbutton:hover {
  background-color: #ffe4b5;
}*/
.input {
  position: center;
  background-color: #ff0;
  margin: auto;
  width: 300px;
  height: 75px;
  font-size: xx-large;
  text-align: right;
}
.row1 {
  position: relative;
  margin: auto;
}
.row2 {
  position: center;
  margin: auto;
}
.row3 {
  position: center;
  margin: auto;
}
.row4 {
  margin: auto;
}
.row5 {
  margin: auto;
}
